Going to create a brand new notebook for training. The previous notebook 'RegressionIrradiance.ipynb' used the train_test_split.py module to do all of the data manipulation. I don't like the way that the train_test_split.py module turned out so I want to redo the data manipulation and feature engineering. The hardest part is going to be performing cross validation. Hopefully I'll be able to keep most of the code in modules and just use this notebook to run them and test them.

In [8]:
import pandas as pd

import sys 
sys.path.insert(0, '../')

from run_regression import run_regression_all, read_all_sites, run_regression
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
results_s = run_regression_all()
display(results_s)

Couldn't train for system 1232644, no irradiance data

103941     382.035526
787197     638.225623
238320     177.629350
349060     316.580334
477834     175.756630
641826    1205.555370
896164     214.553897
717193    2582.957745
627759     966.293054
569932     801.671293
466851     321.503305
256177    1181.610391
505347    2846.665738
dtype: float64

In [9]:
results_df = pd.read_csv('./old/DataWranglingProjects/FinalProject/Irradiance_results.csv')
results_df = results_df.set_index('site_id')
results_df['new'] = results_s
results_df

,irradiance_only,irr_time,weather_only,weather_time,weather_irr,all,t_loo,t_integrated,new
site_id,,,,,,,,,
103941,246.534541,225.476615,443.820703,333.608607,230.734887,214.282454,1408.297236,962.852813,382.035526
787197,458.741006,441.875406,676.095814,493.189830,420.689423,414.346982,1139.275025,1051.837168,638.225623
238320,406.768778,400.295024,215.158797,194.184444,180.539331,179.062503,1216.435500,1046.116332,177.629350
349060,195.153020,195.418662,366.227301,277.764976,173.514858,172.418634,1063.147773,906.907098,316.580334
477834,185.225738,182.273051,180.990243,165.603927,146.007381,141.265141,1084.975457,1027.294537,175.756630
641826,1415.125092,1356.645292,1400.275253,1340.890427,1129.709809,1074.484228,1892.605357,1740.671072,1205.555370
896164,169.821445,173.107516,213.166462,209.297813,165.401586,166.997995,977.995193,936.944873,214.553897
717193,2452.825849,2423.531521,2755.743480,2454.798066,2235.588756,2228.444875,3167.109357,3074.459545,2582.957745
627759,661.845473,562.320608,1158.978721,830.920466,604.447385,553.548312,987.753050,943.862437,966.293054
569932,1144.587302,1107.587695,912.295012,824.118052,742.778756,714.950626,1280.391308,1185.081394,801.671293
466851,391.530984,388.710669,387.033111,351.779515,325.688510,314.316423,803.562978,777.267431,321.503305
256177,1250.532543,1007.646441,1464.897083,1117.650983,1103.700017,967.449399,4347.582603,2328.248795,1181.610391
505347,2176.078319,1857.789721,3596.918498,2653.043743,2004.302758,1799.138929,6092.258390,5290.500365,2846.665738